= form_for @photo do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |message|
          %li= message

  .field.row.mb-4
    = f.label :image, class: 'visually-hidden'
    = f.file_field :image, accept: accepted_file_types, class: 'form-control', autofocus: true
  .field.row.mb-4
    = f.label :title, class: 'visually-hidden'
    = f.text_field :title, class: 'form-control', placeholder: 'Title'
  .field.row.mb-4
    = f.label :description, class: 'visually-hidden'
    = f.text_area :description, class: 'form-control', placeholder: 'Description'
  .actions.d-flex.justify-content-center
    = f.submit 'Save', class: 'btn btn-outline-primary btn-lg col-6 mx-auto mt-2 mb-4'
