%p#notice= notice

%p
  %b Title:
  = @photo.title
%p
  %b Description:
  = @photo.description

= @photo.inspect
%br
= image_tag(url_for(@photo.image_thumb))
= image_tag(url_for(@photo.image_small))
= image_tag(url_for(@photo.image_medium))
= image_tag(url_for(@photo.image_large))
= image_tag(url_for(@photo.image_full))

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
